.wrapperContactUs {
  margin: 60px 0;
}


.wrapperContactUs > div > h4 {
  text-align: center;
  color:var(--main-color);
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}
.wrapperContactUs > div > p{
    text-align: center;
    margin-bottom: 30px;
    color: #888;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.formSection {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(41, 60, 122, 0.21);
}
.location h6{
    color: var(--main-color);
    font-size: 15px;
    margin-bottom: 10px;
}
.location a{
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 20px;
    display: inline-block;
}
.location iframe{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 400px;
}
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}